.title {
    text-align: left !important;
}

.float-right {
    float: right;
}

.progress {
    margin: 15px;
}

.bar {
    height: 5px;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
}

.progress-bar {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: black;
    transition: width .6s ease;
}