<app-top-bar titulo="Contas"></app-top-bar>

<form class="form" #form [formGroup]="group" (ngSubmit)="salvar(); form.reset();" autocomplete="off">

    <mat-form-field appearance="fill">
        <mat-label>Banco</mat-label>
        <input matInput type="text" formControlName="banco">
        <mat-error>Informe o banco</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Conta</mat-label>
        <input matInput type="text" formControlName="descricao">
        <mat-error>Informe a conta</mat-error>
    </mat-form-field>

    <div class="chips-container">
        <label class="mini-label" style="margin-left: 10px;">Tipo de conta</label>
        <mat-chip-list #chipList selectable formControlName="tipo">
            <mat-chip #c="matChip" (click)="setTipo(c)" *ngFor="let tipo of tipos" [value]="tipo.tipo">
                {{tipo.descricao}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="chips-container">
        <label class="mini-label" style="margin-left: 10px;">Possui carga de arquivo?</label>
        <mat-chip-list #chipList selectable formControlName="carga">
            <mat-chip #c="matChip" (click)="setCarga(c)" *ngFor="let carga of cargas" [value]="carga.arquivo">
                {{carga.descricao}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="w3-display-container" style="height: 40px;">
        <div class="w3-display-left">
            <button mat-raised-button color="primary" type="submit" [disabled]="group.invalid">Salvar</button>
        </div>
    </div>

</form>

<div class="content-table">
    <table mat-table [dataSource]="contas" class="mat-elevation-z8">

        <ng-container matColumnDef="banco">
            <th mat-header-cell *matHeaderCellDef> Banco </th>
            <td mat-cell *matCellDef="let item"> {{item.banco}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let item"> {{item.descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="carga">
            <th mat-header-cell *matHeaderCellDef> Carga </th>
            <td mat-cell *matCellDef="let item"> <span *ngIf="item.carga != undefined">SIM</span></td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <mat-icon (click)="delete(item.id)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row)"></tr>
    </table>
</div>