<app-top-bar titulo="Categoria"></app-top-bar>

<form class="form" #form [formGroup]="group" (ngSubmit)="salvar(); form.reset();" autocomplete="off">

    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <input matInput type="text" formControlName="descricao">
        <mat-error>Informe a categoria</mat-error>
    </mat-form-field>

    <div style="margin-top: 10px;margin-bottom: 20px;">
        <mat-slide-toggle formControlName="analisar">Analisar</mat-slide-toggle>
    </div>

    <div class="w3-display-container" style="height: 40px;">
        <div class="w3-display-left">
            <button mat-raised-button color="primary" type="submit" [disabled]="group.invalid">Salvar</button>
        </div>
    </div>

</form>

<div class="content-table">
    <table mat-table [dataSource]="categorias" class="mat-elevation-z8">

        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let item"> {{item.descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="analisar">
            <th mat-header-cell *matHeaderCellDef> Analisar </th>
            <td mat-cell *matCellDef="let item"> <span *ngIf="item.analisar">SIM</span> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <mat-icon (click)="delete(item.id)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="edit(row)"></tr>
    </table>
</div>