<app-top-bar titulo="Análise"></app-top-bar>

<mat-tab-group>
    <mat-tab label="Mensal">
        <app-select-planilha></app-select-planilha>
        <div *ngIf="datasourceMes != undefined && planilha != undefined">
            <app-analise-mensal [datasource]="datasourceMes"></app-analise-mensal>
        </div>
    </mat-tab>
    <mat-tab label="Anual">
        <div *ngIf="datasourceAno != undefined && planilha != undefined">
            <app-analise-anual [datasource]="datasourceAno"></app-analise-anual>
        </div>
    </mat-tab>
</mat-tab-group>