<app-top-bar titulo="Análise"></app-top-bar>

<app-select-planilha></app-select-planilha>

<div *ngIf="datasource.length > 0" style="padding: 40px;">
    <app-chart-line [columns]="columns" [datasource]="datasource"></app-chart-line>
</div>

<div>
    <google-chart 
        #chart 
        [type]="charSaldo.type" 
        [columns]="charSaldo.columns"
        [data]="charSaldo.datasource" 
        [options]="charSaldo.options"
        [width]="charSaldo.width" 
        [height]="charSaldo.height"
        [title]="charSaldo.options.title"
        >
    </google-chart>
</div>