<app-top-bar titulo="Extrato"></app-top-bar>

<div style="display: flex;">
    <div class="button" matTooltip="Reload" (click)="reload()">
        <mat-icon class="icon">refresh</mat-icon>
    </div>
</div>

<table class="table-analise">
    <tr>
        <th>Conta</th>
        <th>Descrição</th>
        <th>Janeiro</th>
        <th>Fevereiro</th>
        <th>Março</th>
        <th>Abril</th>
        <th>Maio</th>
        <th>Junho</th>
        <th>Julho</th>
        <th>Agosto</th>
        <th>Setembro</th>
        <th>Outubro</th>
        <th>Novembro</th>
        <th>Dezembro</th>
    </tr>
    <!--
    <tr>
        <td></td>
        <td></td>
        <td>{{totais[0] | number: '1.2-2'}}</td>
        <td>{{totais[1] | number: '1.2-2'}}</td>
        <td>{{totais[2] | number: '1.2-2'}}</td>
        <td>{{totais[3] | number: '1.2-2'}}</td>
        <td>{{totais[4] | number: '1.2-2'}}</td>
        <td>{{totais[5] | number: '1.2-2'}}</td>
        <td>{{totais[6] | number: '1.2-2'}}</td>
        <td>{{totais[7] | number: '1.2-2'}}</td>
        <td>{{totais[8] | number: '1.2-2'}}</td>
        <td>{{totais[9] | number: '1.2-2'}}</td>
        <td>{{totais[10] | number: '1.2-2'}}</td>
        <td>{{totais[11] | number: '1.2-2'}}</td>
        <td>{{totais[12] | number: '1.2-2'}}</td>
    </tr>
    -->
    <tr *ngFor="let item of planilhaAnual">
        <td style="text-align: left;">{{item.conta}}</td>
        <td style="text-align: left;">{{item.descricao}}</td>
        <td *ngIf="item.listValores == null">
            {{item.valor| number: '1.2-2'}}
        </td>
        <td *ngFor="let valor of item.listValores">
            {{valor | number: '1.2-2'}}
        </td>
    </tr>
</table>