.div-container {
    padding: 10px;
}

.table-analise {
    width: 100%;
    font-size: 13px;

    .header {
        background-color: yellow;
        font-weight: bold;
    }

    td {
        text-align: right;
    }

    tr:hover {
        background-color: rgb(230, 230, 230);
    }
}

.analise_container {
    width: 100%;
    height: 100%;
    display: flex;

    .esquerdo {
        width: 255px;
    }

    .direito {
        width: 100%;
    }
}