.div-container {
    padding: 10px;
}

.table-analise {
    width: 100%;
    font-size: 13px;

    .header {
        background-color: yellow;
        font-weight: bold;
    }

    td {
        text-align: right;
    }

    tr:hover {
        background-color: rgb(230, 230, 230);
    }
}