.file-input {
    display: none;
}

.message-box {
    margin: 20px;
    padding: 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 3px;
    border: 0.001em solid rgb(126, 126, 126);
    font-size: 14px;
    color: rgb(63, 63, 63);
}