<div class="extrato-content">
    <app-top-bar titulo="Extrato"></app-top-bar>
    <app-select-planilha></app-select-planilha>
    <div class="w3-row" style="height: 82%;">
        <div class="w3-col l6" style="height: 100%;">
            <mat-card style="margin-left: 10px; height: 100%;">

                <!-- button bar -->
                <mat-card-actions>
                    <div class="w3-row" style="margin: 0px 10px 0 10px;">
                        <div class="w3-col l6" style="display: flex;">
                            <div class="button" matTooltip="Reload" (click)="reload()">
                                <mat-icon class="icon">refresh</mat-icon>
                            </div>
                            <div class="button" matTooltip="Lançamento" (click)="openLancamento(0)">
                                <mat-icon class="icon">add_shopping_cart</mat-icon>
                            </div>
                            <div class="button" matTooltip="Processar labels" (click)="processarLabels()">
                                <mat-icon class="icon">label</mat-icon>
                            </div>
                            <div class="button" matTooltip="Filtrar sem labels"
                                (click)="group.get('semLabel')?.setValue(true)">
                                <mat-icon class="icon">filter_list</mat-icon>
                            </div>
                            <div class="button" matTooltip="Filtrar fixos" (click)="group.get('fixo')?.setValue(true)">
                                <mat-icon class="icon">chevron_right</mat-icon>
                            </div>
                            <div class="button" matTooltip="Filtrar concluidos"
                                (click)="group.get('concluido')?.setValue(true)">
                                <mat-icon class="icon">done</mat-icon>
                            </div>
                        </div>
                        <div class="w3-col l3">
                            <div class="saldo">
                                <span class="valor">R$ {{saldoAtual | number: '1.2-2'}}</span>
                                <span class="label">Saldo Atual</span>
                            </div>
                        </div>
                        <div class="w3-col l3">
                            <div class="saldo">
                                <span class="valor">R$ {{saldoPrevisto | number: '1.2-2'}}</span>
                                <span class="label">Saldo Previsto</span>
                            </div>
                        </div>
                     </div>
                    <form class="form" #form [formGroup]="group" autocomplete="off">
                        <div class="w3-row">
                            <div class="w3-col l6">
                                <mat-form-field>
                                    <mat-label>Filtrar pela conta</mat-label>
                                    <mat-select formControlName="conta">
                                        <mat-option value="">Nenhum</mat-option>
                                        <mat-option *ngFor="let conta of contas" [value]="conta">
                                            {{conta.descricao}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w3-col l6">
                                <mat-form-field style="margin-left: 10px;">
                                    <mat-label>Filtrar pela descrição</mat-label>
                                    <input matInput formControlName="descricao" #input>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-card-actions>

                <mat-card-content style="overflow-y: auto; height: 80%;">
                    <table style="width: 100%;" matSort (matSortChange)="sortData($event)">
                        <tr>
                            <th mat-sort-header="data">Data</th>
                            <th mat-sort-header="conta" style="min-width: 75px;">Conta</th>
                            <th mat-sort-header="lancamento">Lançamento</th>
                            <th mat-sort-header="fixo" style="width: 21px;">Fixo</th>
                            <th mat-sort-header="valor" style="padding-left: 25px;">Valor</th>
                            <th mat-sort-header="concluido" style="width: 31px;">Concluído</th>
                        </tr>
                        <tr *ngFor="let lancamento of extrato">
                            <td (click)="openLancamento(lancamento.id)">{{lancamento.data | date:'dd/MM'}}</td>
                            <td (click)="openLancamento(lancamento.id)">{{lancamento.conta.descricao}}</td>
                            <td (click)="openLancamento(lancamento.id)">
                                {{lancamento.descricao}}
                                <span class="appLabel" *ngFor="let label of lancamento.labels">{{label}}</span>
                                <!--
                                    <span *ngFor="let label of lancamento.labels" class="appLabel" [ngStyle]="{'background-color': label.cor}"> {{i}} </span>
                                -->
                            </td>
                            <td style="text-align: center;">
                                <app-check (click)="update('fixo',lancamento)" icon="chevron_right"
                                    [checked]="(lancamento.fixo == null || lancamento.fixo == 'false') ? false : true"></app-check>
                            </td>
                            <td class="valor" [ngStyle]="{'color':lancamento.valor < 0 ? 'red' : 'black' }">R$
                                {{lancamento.valor | number: '1.2-2'}}
                            </td>
                            <td style="text-align: center;">
                                <app-check (click)="update('concluido',lancamento)" icon="check"
                                    [checked]="lancamento.concluido"></app-check>
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="w3-col l6" style="height: 100%;">
            <div style="margin: 0px 10px 10px 10px">
                <app-saldo-diario></app-saldo-diario>
            </div>
            <div style="margin: 0px 10px 10px 10px">
                <app-analise-categoria></app-analise-categoria>
            </div>
            <div style="margin: 0px 10px 0px 10px">

                <div class="w3-row">
                    <div class="w3-col l6">
                        <app-saldocontas></app-saldocontas>
                    </div>
                    <div class="w3-col l6">
                        <app-analise-limites></app-analise-limites>
                    </div>
                </div>
                <!--
                    <app-resumo-extrato></app-resumo-extrato>
                -->
            </div>
        </div>
    </div>
</div>