<div class="extrato-content">
    <app-top-bar titulo="Extrato"></app-top-bar>
    <app-select-planilha></app-select-planilha>
    <div class="w3-row" style="height: 81%;">
        <div class="w3-col l6" style="height: 100%;">
            <mat-card style="margin-left: 10px; height: 100%;">
                <mat-card-content style="overflow-y: auto; height: 100%;">
                    <table class="resumo-table" matSort (matSortChange)="sortData($event)">
                        <tr>
                            <th mat-sort-header="data">Data</th>
                            <th mat-sort-header="conta">Conta</th>
                            <th mat-sort-header="lancamento">Lançamento</th>
                            <th mat-sort-header="fixo">Fixo</th>
                            <th mat-sort-header="valor">Valor</th>
                            <th mat-sort-header="concluido">Concluído</th>
                        </tr>
                        <tr *ngFor="let lancamento of lancamentos">
                            <td>{{lancamento.data | date:'dd/MM'}}</td>
                            <td>{{lancamento.conta.descricao}}</td>
                            <td>
                                {{lancamento.descricao}}
                                <span class="extratoLabel" *ngFor="let label of lancamento.labels">{{label}}</span>
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="lancamento.fixo">Sim</span>
                            </td>
                            <td class="valor" [ngStyle]="{'color':lancamento.valor < 0 ? 'red' : 'black' }">R$
                                {{lancamento.valor |
                                number: '1.2-2'}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="lancamento.concluido">Sim</span>
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="w3-col l6" style="height: 100%;">
            <div style="margin: 0px 10px 10px 10px">
                <app-analise-categoria></app-analise-categoria>
            </div>
            <div style="margin: 0px 10px 0px 10px">
                <app-resumo-extrato></app-resumo-extrato>
            </div>
        </div>
    </div>
</div>