<div class="extrato-content">

    <app-select-planilha titulo="Extrato"></app-select-planilha>

    <div class="w3-row" style="margin-top: 10px;">
        <div class="w3-col l6">
            <mat-card>
                <!-- button bar -->
                <mat-card-actions>
                    <div class="w3-row" style="margin: 0px 10px 0 10px;">
                        <div class="w3-col" style="display: flex;">
                            <div class="button" matTooltip="Lançamento" (click)="openLancamento(0)">
                                <mat-icon class="icon">add_shopping_cart</mat-icon>
                            </div>
                            <div class="button" matTooltip="Filtrar pela Conta">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>account_balance</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="group.get('conta')?.setValue('')">
                                        <span>Nenhuma</span>
                                    </button>
                                    <button mat-menu-item *ngFor="let conta of contas"
                                        (click)="group.get('conta')?.setValue(conta)">
                                        <span>{{conta.descricao}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                            <div class="button" matTooltip="Filtrar pela Label">
                                <button mat-icon-button [matMenuTriggerFor]="menuLabel">
                                    <mat-icon>label</mat-icon>
                                </button>
                                <mat-menu #menuLabel="matMenu">
                                    <button mat-menu-item (click)="group.get('label')?.setValue('')">
                                        <span>Todas</span>
                                    </button>
                                    <button mat-menu-item (click)="group.get('semLabel')?.setValue(true)">
                                        <span>Sem labels</span>
                                    </button>
                                    <button mat-menu-item *ngFor="let label of labels"
                                        (click)="group.get('label')?.setValue(label)">
                                        <span>{{label.descricao}}</span>
                                    </button>
                                </mat-menu>
                            </div>
                            <div class="button" matTooltip="Filtrar fixos" (click)="group.get('fixo')?.setValue(true)">
                                <mat-icon class="icon">chevron_right</mat-icon>
                            </div>
                            <div class="button" matTooltip="Filtrar concluidos"
                                (click)="group.get('concluido')?.setValue(true)">
                                <mat-icon class="icon">done</mat-icon>
                            </div>

                            <div class="button" matTooltip="Limpar Filtros" (click)="group.reset()">
                                <mat-icon class="icon">close_small</mat-icon>
                            </div>
                            <form class="form" #form [formGroup]="group" autocomplete="off"
                                style="margin: 0px !important; padding: 0px !important;">
                                <mat-form-field style="margin-left: 10px;">
                                    <mat-label>Filtrar pela descrição</mat-label>
                                    <input matInput formControlName="descricao" #input>
                                </mat-form-field>
                            </form>
                        </div>
                        <!--
                            <div class="w3-col l3">
                                <div class="saldo">
                                    <span class="valor">R$ {{saldoAtual | number: '1.2-2'}}</span>
                                    <span class="label">Saldo Atual</span>
                                </div>
                            </div>
                            <div class="w3-col l3">
                                <div class="saldo">
                                    <span class="valor">R$ {{saldoPrevisto | number: '1.2-2'}}</span>
                                    <span class="label">Saldo Previsto</span>
                                </div>
                            </div>
                        -->
                    </div>
                </mat-card-actions>

                <mat-card-content>
                    <table style="width: 100%;" matSort (matSortChange)="sortData($event)">
                        <tr>
                            <th mat-sort-header="data">Data</th>
                            <th mat-sort-header="conta" style="min-width: 75px;">Conta</th>
                            <th mat-sort-header="lancamento">Lançamento</th>
                            <th mat-sort-header="fixo" style="width: 21px;">Fixo</th>
                            <th mat-sort-header="valor" style="padding-left: 25px;">Valor</th>
                            <th mat-sort-header="concluido" style="width: 31px;">Concluído</th>
                        </tr>
                        <tr *ngFor="let lancamento of extrato">
                            <td (click)="openLancamento(lancamento.id)">{{lancamento.data | date:'dd/MM'}}</td>
                            <td (click)="openLancamento(lancamento.id)">{{lancamento.conta.descricao}}</td>
                            <td (click)="openLancamento(lancamento.id)">
                                {{lancamento.descricao}} {{lancamento.parcelas}}
                                <span class="appLabel" *ngFor="let label of lancamento.labels">{{label}}</span>
                            </td>
                            <td style="text-align: center;">
                                <app-check (click)="update('fixo',lancamento)" icon="chevron_right"
                                    [checked]="(lancamento.fixo == null || lancamento.fixo == 'false') ? false : true"></app-check>
                            </td>
                            <td class="valor" [ngStyle]="{'color':lancamento.valor < 0 ? 'red' : 'black' }">R$
                                {{lancamento.valor | number: '1.2-2'}}
                            </td>
                            <td style="text-align: center;">
                                <app-check (click)="update('concluido',lancamento)" icon="check"
                                    [checked]="lancamento.concluido"></app-check>
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="w3-col l6" style="padding-left: 10px; display: grid; gap: 10px;">
            <app-saldo-diario></app-saldo-diario>
            <app-analise-categoria></app-analise-categoria>
            <app-saldocontas></app-saldocontas>
        </div>
    </div>
</div>