<div style="display: flex;width: 100%;">
    <div style="width: 90%;">
        <h2 mat-dialog-title style="margin-left: 20px;">{{data.titulo}}</h2>
    </div>
    <div style="float: right; text-align: right; width: 10%; padding-right: 20px;">
        <mat-icon mat-dialog-close class="icon">close</mat-icon>
    </div>
</div>

<mat-dialog-content class="mat-typography">
    <app-lancamento *ngIf="data.conteudo == 'lancamento'" [idLancamento]="data.idLancamento"></app-lancamento>
    <app-planilhaanual *ngIf="data.conteudo == 'planilhaanual'"></app-planilhaanual>
</mat-dialog-content>